<include('./templates/master.marko', {title: "Page Not Found"})>
	<@layoutMainContent>

	    <div class="container">
			<div class="jumbotron">
				<h1>Page Not Found (404)</h1>
				<p>Oops! Something happened and we were unable to locate the requested page. Please double-check the url in the address bar.</p>
				<p>
					<a class="btn btn-lg btn-primary" href="/home" role="button">Home</a>
				</p>
			</div>
		</div>

	</@layoutMainContent>
</include>
