<include('./templates/master.marko', {title: "Error 500"})>
	<@layoutMainContent>

	    <div class="container">
			<div class="jumbotron">
				<h1>Error (500)</h1>
				<p>Oops! Something happened and we were unable to process the request.</p>
				<p>
					<a class="btn btn-lg btn-primary" href="/home" role="button">Home</a>
				</p>
			</div>
		</div>

	</@layoutMainContent>
</include>
