<include('./templates/master.marko', {title: "Website 2: Time"})>
	<@layoutMainContent>

		<div class="container">

			<div class="starter-template">
				<h1>The time is <span style="color:orange">${data.time}</span></h1>
			</div>

		</div>

	</@layoutMainContent>
</include>
