<include('../../templates/master.marko', {title: "Register"})>
	<@layoutMainContent>

    <div class="container">

      <include('./register-dialog.marko')/>

    </div>

	</@layoutMainContent>
</include>
